.header{
    font-family: Helvetica;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.nav{
    height: 80px;
    padding: 0 40px;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
}
.nav__logo-container{
    display: flex;
    align-items: center;
}
.nav__logo{
    clip-path: inset(0 100% 0 0);
    animation: view 0.8s ease-in-out 1 forwards;
}
.nav__list-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
.nav__button-container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav__button{
    clip-path: inset(0 100% 0 0);
    animation: view 0.8s ease-in-out 1 forwards;
}
.nav__list{
    display: flex;
    column-gap: 30px;
}
.nav__list-item{
    color: var(--color-secondary);
}

.hero{
    padding: 0 40px;
}
.hero__text-container{
    position: fixed;
    top: 100px;
}
.hero__title{
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 300;;
    position: relative;
    clip-path: inset(0 100% 0 0);
    animation: view 0.8s ease-in-out 1 forwards;
}


.hero__subtitle{
    top: 100%;
    left: 50%;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    transform: translate(-50%, -50%);
    clip-path: inset(0 100% 0 0);
    animation: view 0.8s ease-in-out 1 forwards;
}

.header__button{
    margin-top: 40px;
    position: relative;
    z-index: 1;
    clip-path: inset(0 100% 0 0);
    animation: view 0.8s ease-in-out 1 forwards;
}

@keyframes view {
    0% {
        clip-path: inset(0 100% 0 0)
    }
    100% {
        clip-path: inset(0)
    }
}



.video__content-text{
    font-family: Helvetica;
    text-align: center;
    opacity: 0;
    font-weight: 300;
    font-size: 64px;
    color: var(--color-primary);
}
.button-video{
    opacity: 0;
    position: relative;
    transition-duration: 200ms;
}


.button-video::after{
    content: '';
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    z-index: -1;
    left: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.button-video:hover::after{
    transform: translateY(100%);
}
.button-video:hover{
    color: #2E2D2C;
}
.button-video:hover .button__white-icon{
    filter: invert(0%) sepia(91%) saturate(7492%) hue-rotate(45deg) brightness(10%) contrast(95%)
}

.video{
    clip-path:  inset(0px calc(18.33% - 18.33px) 0px round 8px);
}

.overlay{
    clip-path:  inset(0px calc(18.33% - 18.33px) 0px round 8px);
    background-color: #000;
    z-index: 1;
    opacity: 0.3;
}

@media (max-width: 768px){
   .header{
    height: auto;
    display: flex;
    flex-direction: column;
   }
   .hero__text-container{
    position: inherit;
    z-index: -1;
}
  
    .header__button{
        margin-top: 16px;
    }
    .hero{
        padding: 0 16px;
    }
    
    .hero__title{
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 300;
    }
    
    .hero__subtitle{
        top:auto;
        left: auto;
        width: 100%;
        font-size: 1rem;
        font-weight: 300;
        transform: none
    }
    .video{
        clip-path:  inset(0px calc(1.33% - 18.33px) 0px round 8px);
    }
    .video__content-text{
        font-family: Helvetica;
        text-align: center;
        opacity: 1;
        font-weight: 300;
        font-size: 24px;
        color: var(--color-primary);
    }
    .button-video{
        opacity: 1;
        position: relative;
        transition-duration: 200ms;
        margin: auto;
        margin-top: 16px;
    }
    .overlay{
        clip-path:  inset(0px calc(1.33% - 18.33px) 0px round 8px);
        background-color: #000;
        z-index: 1;
        opacity: 0.3;
    }
}